.sliderContainer {
    height: 350px;
}

.storyCardList {
    display: flex !important;
    justify-content: center !important;
}

.sliderContainer .slick-slide > div  {
    margin: auto;
    margin-top: 15px;
    margin-bottom: -15px;
    height: 350px;
    padding: 0;
    display: block;
}

.slick-dots {
    bottom: 16px;
}

@media (max-width: 768px) {
    .storyCardsContainer {
        gap: 10px
    }
}