.inputFieldAddForm {
    margin-top: 20px;
}

.imagePreview {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.formImageDiv {
    margin-top: 20px;
    position: relative;
}

.formImageDiv img {
    width: 140px;
    height: 140px;
    border-radius: 8px;
    object-fit: cover;
}

.addSaveLocationButtons {
    margin-top: 15px;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .formImageDiv img {
        width: 120px;
        height: 120px;
    }
    
    .addSaveLocationButtons{
        flex-direction: column;
        gap: 3px;
        margin-left: 0px;
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .addSaveLocationButtons button {
        width: 74%;
        font-size: 12px;
        padding: 3px;
    }
}