.collapse-button {
    color: var(--darkBrown);
    padding: 11px;
    padding-top: 15px;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    width: 99%;
    text-align: left;
    border-top: 2px solid var(--darkerLightBrown);
    background-color: var(--lightGrey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.collapse-button img {
    width: 25px;
    height: 25px;
}

.arrow-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.collapse-button:hover {
    background-color: var(--lightBrown);
    color: var(--lightGrey);
}

.collapse-content {
    background-color: var(--lightGrey);
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: start;
    margin-left: 10px;
}

.collapse-content p {
    margin: 0;
    line-height: 1.8;
}

.media-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    margin-left: -3px;
    margin-top: 14px;
    margin-bottom: 14px;
}

#mapPhotoCollapse,
.media-container video {
    border-radius: 13px;
    padding: 4px;
    object-fit: cover;
    width: 170px;
    height: 170px;
    cursor: pointer;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}

.close {
    position: absolute;
    top: 14px;
    right: 24px;
    color: white;
    font-size: 39px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    z-index: 1001;
    background-color: var(--lightBrown);
    border: none;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

.prev:hover,
.next:hover {
    background-color: var(--darkerLightBrown);
}

.modal-content-video,
#modal-content {
    width: auto;
    height: 76%;
}

@media (max-width: 768px) {

    .modal-content-video,
    #modal-content {
        width: 93%;
        height: auto;
        object-fit: cover;
    }

    .prev,
    .next {
        width: 30px;
        height: 30px;
        color: white;
        font-weight: bold;
        font-size: 14px;
        background-color: transparent;
    }

    .prev:hover,
    .next:hover {
        background-color: transparent;
    }
}