.storyLine {
    position: relative;
    width: 470px;
    height: 210px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--lightGrey);
    margin: 13px;
    border-radius: 12px;
    transition: transform 0.3s ease;
    cursor: pointer;
    box-shadow: 8px 8px 8px rgba(65, 38, 26, 0.2);
    border: 7px solid var(--darkBrown);
}

.storyLine:hover {
    transform: scale(1.04);
}

.storyImgLine>img {
    width: 142px;
    height: 204px;
    object-fit: cover;
    margin-left: 3px;
    margin-top: 3px;
    border-radius: 5px;
}

.textContainerLine {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: start;
    margin-left: 6px;
    height: 171px;
    width: 323px;
    color: var(--darkBrown);
}

.storyTitleLine {
    padding-right: 4px;
    margin-top: -8px;
}

.hrStoryTitleLine {
    width: 315px;
    margin-top: -11px;
    border: none;
    border-top: 2px solid var(--lightBrown);
    margin-right: 8px;
}

.storyDescriptionLine {
    font-weight: 400;
    margin-top: 3px;
    margin-bottom: 16px;
    width: 316px;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.byUserLine {
    bottom: -3px;
    position: absolute;
    right: 39px;
    font-size: 13px;
    color: var(--lightBrown);
}

.budget {
    margin-bottom: -9px;
}

.budget,
.duration {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 19px;
    font-size: 13px;
    color: var(--darkBrown);
    font-weight: 500;
}

.budget > img,
.duration > img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.lineBottomRight {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.deleteStoryLineButton {
    width: 20px;
    height: 20px;
    bottom: 8px;
    position: absolute;
    right: 9px;
    color: var(--lightBrown);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.deleteStoryLineIcon {
    width: 18px;
    height: 18px;
}
@media (max-width: 768px) {
    .storyLine {
        width: 335px;
        height: 190px;

    }

    .storyImgLine>img {
        width: 135px;
        height: 183px;
    }

    .textContainerLine {
        width: 196px;
        height: 202px;
    }

    .hrStoryTitleLine {
        width: 181px;
        margin-right: 17px;
    }

    .storyTitleLine {
        font-size: 16px;
        margin-top: 13px;
    }

    .storyDescriptionLine {
        font-size: 12px;
        width: 195px;
    }

    .duration{
        bottom: 29px;
        font-size: 13px;
    }

    .budget {
        margin-bottom: 5px;
        font-size: 13px;
    }

    .budget > img,
    .duration > img {
    width: 13px;
    height: 13px;
    margin-right: 5px;
    }

    .byUserLine {
        left: 45px;
        bottom: -8px;
        right: 10px;
    }
}