.storyLine {
    position: relative;
    width: 461px;
    min-height: 155px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: var(--lightGrey);
    margin: 13px;
    border-radius: 12px;
    transition: transform 0.3s ease;
    cursor: pointer;
    box-shadow: 8px 8px 8px rgba(65, 38, 26, 0.2);
    border: 4px solid var(--lightBrown);
}

.storyLine:hover {
    transform: scale(1.04);
}


.storyImgLine>img {
    width: 124px; 
    height: 155px;
    object-fit: cover;
    margin-left: 3px;
    margin-top: 3px;
    border-radius: 5px;
}

.textContainerLine {
    height: 160px;
    text-align: start;
    margin-left: 6px;
    width: 323px;
    color: var(--darkBrown);
}
.storyTitleLine {
    width: 316px;
    margin-top: 6px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.hrStoryTitleLine {
    width: 100%;
    border: none;
    border-top: 2px solid var(--lightBrown);
    margin-right: 8px;
    margin-top: -9px;
}

.storyDescriptionLine {
    font-weight: 400;
    width: 316px;
    font-size: 14px;
    margin-top: 7px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.byUserLine {
    font-size: 13px;
    color: var(--lightBrown);
    margin-top: -17px;
}

.budget {
    margin-bottom: 31px;
}

.budget,
.duration {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: -5px;
    font-size: 13px;
    color: var(--darkBrown);
    font-weight: 500;
}

.budget > img,
.duration > img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.lineBottomRight {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.deleteStoryLineButton {
    width: 20px;
    height: 20px;
    bottom: 8px;
    position: absolute;
    right: 9px;
    color: var(--lightBrown);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.deleteStoryLineIcon {
    width: 18px;
    height: 18px;
}
@media (max-width: 768px) {
    .storyLine {
        width: 335px;
        height: 164px;
    }

    .storyImgLine>img {
        width: 128px;
        height: 158px;
    }

    .textContainerLine {
        width: 196px;
        height: 202px;
    }

    .hrStoryTitleLine {
        width: 181px;
        margin-right: 17px;
    }

    .storyTitleLine {
        font-size: 16px;
        margin-top: 6px;
        margin-bottom: 18px;
        width: 200px;
        -webkit-line-clamp: 2;
    }

    .storyDescriptionLine {
        font-size: 12px;
        width: 192px;
    }

    .duration{
        bottom: -5px;
        font-size: 13px;
    }

    .budget {
        margin-bottom: 32px;
        font-size: 13px;
    }

    .budget > img,
    .duration > img {
    width: 13px;
    height: 13px;
    margin-right: 5px;
    }

    .byUserLine {
        left: 45px;
        bottom: -8px;
        right: 10px;
    }
}