.slideshowImage {
    margin-top: 1px;
    width: 100%;
    height: 500px;
    object-fit :cover;
}

.searchBarContainer {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the search bar horizontally and vertically */
    z-index: 10; /* Ensure the search bar is above the images */
    width: 80%; /* Adjust width as necessary */
    display: flex;
    flex-direction: column;
    text-align: start;
}

.getInspired {
    color: var(--lightGrey);
    font-size: 45px;
    margin-bottom: 8px;
}

@media (max-width: 768px) {

    .searchBarContainer {
        top: 24%;
        text-align: center;
        width: 45%;
    }

    .getInspired {
      font-size: 25px; 
      margin-bottom: 6px; 
    }

    .slideshowImage {
        height: 400px;
    }

}