.storyCard {
    width: 240px;
    height: 285px;
    border-radius: 8px;
    margin-bottom: 50px;
    transition: transform 0.3s ease;
    cursor: pointer;
    position: relative;
}

.storyCard:hover {
    transform: scale(1.05);
}


.imageOverlayContainer {
    position: relative;
    height: 200px;
    height: 285px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.imageOverlay {
    height: 285px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}

.textContainer {
    position: absolute;
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    padding: 15px;
    z-index: 2;
    border: 1px solid var(--lightGrey);
    border-radius: 8px;
    background-color: rgba(158, 80, 47, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.likeCard,
.byUser {
    position: absolute;
    bottom: -5px;
    color: var(--lightGrey);
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 181px;
}

.byUser {
    left: 6px;
}
.likeCard {
    right: -142px;
}

.storyTitle {
    color: var(--lightGrey);
    font-size: 19px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.storyDescription {
    font-size: 15px;
    text-align: center;
    height: auto;
    padding: 0px;
    color: var(--lightGrey);
    border: none;
    overflow-y: auto;
}

.storyDescription::-webkit-scrollbar {
    width: 0px;
}

.imageContainer {
    width: 100%;
    height: 285px;
    overflow: hidden;
    border-radius: 8px;
}

.storyImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textContainer hr {
    border-color: var(--lightGrey);
    background-color: var(--lightGrey);
    width: 100%;
    margin-bottom: -5px;
}