.storyCard {
    width: 240px;
    height: 285px;
    background-color: var(--lightBrown);
    border-radius: 8px;
    margin-bottom: 50px;
    transition: transform 0.3s ease;
    cursor: pointer;
    position: relative;
}

.storyCard:hover {
    transform: scale(1.05);
}


.imageOverlayContainer {
    position: relative;
    height: 200px;
    height: 285px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.imageOverlay {
    height: 285px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}

.textContainer {
    position: absolute;
    top: 16px;
    left: 22px;
    right: 22px;
    bottom: 16px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    z-index: 2;
    border: 3px solid var(--darkerBrown);
    background-color: rgba(178, 94, 67, 0.7);
}

.likeCard,
.byUser {
    position: absolute;
    bottom: -8px;
    left: 2px;
    color: var(--lightGrey);
    font-size: 10px;
    padding: 3px 5px;
    border-radius: 5px;
}

.likeCard {
    right: -142px;
}

.storyTitle {
    color: var(--lightGrey);
    font-size: 16px;
    margin-top: 7px;
    height: 38px;
}

.storyDescription {
    font-size: 13px;
    text-align: start;
    border: 1px solid var(--darkerBrown);
    height: 118px;
    padding: 5px;
    border-radius: 6px;
    color: var(--lightGrey);
    overflow-y: auto;
}

.storyDescription::-webkit-scrollbar {
    width: 0px;
}

.imageContainer {
    width: 100%;
    height: 285px;
    overflow: hidden;
    border-radius: 8px;
}

.storyImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}