:root {
    --white : #ffffff;
    --lightGrey: #f3f3f3;
    --darkBrown: #473D3A;
    --lightBrown: #B25E39;
    --darkerLightBrown: #9E502F;
}

html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    background-color: var(--lightGrey);
    font-family:Georgia, 'Times New Roman', Times, serif
}

p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}